<div style="text-aling:center">
  <h1>Angular</h1>

<h2>Two-Way Data Binding</h2>
<p> Sorting Algorithm : {{ algorithmType}} </p>
<p> Ranking : {{ rankingNumber}} </p>

<p> <input type="text" [(ngModel)] = "algorithmType"> </p>
<p> <input type="text" [(ngModel)] = "rankingNumber"> </p>

<p> <input type="text" [(ngModel)] = "image"> </p>
   <ul> <img [src] = 'image'> </ul>

   <hr>

<h2>Routing</h2>
<a routerLink="/algorithmSort"> Array Sorting Algorithms </a>
</div>

<router-outlet></router-outlet>
